:root {
  --clr-primary-200: #d0d6dd;
  --clr-primary-400: #415d78;
  --clr-primary-600: #123456;

  --clr-neutral-100: #e7ebee;
  --clr-neutral-500: #123456;
  --clr-neutral-900: #020509;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.625em;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 2em;
}
.dci {
  color: var(--clr-primary-200);
  text-decoration: none;
  font-size: 2rem;
}
.social {
  color: var(--clr-primary-200);
  text-decoration: none;
  font-size: 3.2rem;
  margin: 0.24em;
}

a:hover {
  opacity: 0.5;
}
section img {
  display: block;
  max-width: 100%;
}

header {
  padding: 2em;
  text-align: center;
  align-items: center;
  background-color: var(--clr-primary-400);
}
header h1 {
  color: var(--clr-primary-200);
}
header p {
  color: var(--clr-primary-200);
  margin-bottom: 1em;
}
header img {
  border-radius: 50%;
  max-width: 250px;
  margin-bottom: 1em;
  border: 3px var(--clr-primary-200) solid;
}
section {
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-900);
}
.bg-dark {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-600);
}
.bg-primary {
  color: white;
  background-color: var(--clr-primary-400);
}

.text-center {
  text-align: center;
  color: var(--clr-primary-400);
}
.bg-split {
  background-color: var(--clr-primary-400);
}
.split-color {
  color: var(--clr-primary-400);
}
footer {
  display: flex;
  align-items: center;
  padding: 0.4em;
  background-color: var(--clr-neutral-900);
  background-size: cover;
  background-position: fixed;
  color: var(--clr-primary-400);
  flex-direction: row-reverse;
  padding-right: 2em;
}
footer a {
  color: var(--clr-primary-200);
  text-decoration: none;
  font-weight: 900;
}
.inline {
  margin: 0.3em;
}
/* animation heart footer*/
.heart {
  display: inline-block;
  background-color: red;
  height: 40px;
  width: 40px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: red;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 20px;
}
.heart:before {
  background-color: red;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  left: 0px;
}
/* animation heart */
@keyframes beat {
  0% {
    transform: scale(0.9) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}
.menu-btn-heart:hover .heart:after,
.menu-btn-heart:hover .heart::before {
  background: rgb(163, 9, 9);
}
.menu-btn-heart:hover .heart {
  transform: scale(1.2) rotate(-45deg);
  background: rgb(163, 9, 9);
  animation-duration: 0.5s;
}
